
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeScreenSmMax,
		sizeGap,
		sizeGapLg;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root .center {
	padding-top: value(sizeGapLg);
	padding-bottom: value(sizeGapLg);
}

.root li {
	flex: 1 1 25%;
}

.list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 rel(-25, 24);
	padding: 0;
	list-style: none;
}

.group {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: value(sizeScreenMdMax)) {

	/* stylelint-disable a11y/no-display-none */
	.link {
		display: none;
	}/* stylelint-enable */
}

@media (max-width: value(sizeScreenSmMax)) {

	.list {
		margin: 0;
	}
}
