{
	"exclude": "node_modules/**",
	"presets": [
		[
			"babel-preset-trigen",
			{
				"react": true
			}
		]
	],
	"plugins": [
		"@loadable/babel-plugin"
	],
	"env": {
		"test": {
			"presets": [
				[
					"babel-preset-trigen",
					{
						"targets": {
							"node": "current"
						},
						"commonjs": true,
						"typescript": true,
						"react": true,
						"transformDynamicImport": true
					}
				]
			]
		}
	}
}
