
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root .center {
	padding-top: rel(32, 24);
	padding-bottom: rel(113, 24);
}

.ticket {
	max-width: 810px;
}

.footer {
	margin-top: rel(42, 24);
}
