
:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeGap;
}

.root {
	padding-top: value(sizeGap);
}

@media (max-width: value(sizeScreenMdMax)) {

	.title {
		text-align: center;
	}
}
