
:import {
	-st-from: '@flexis/ui/components/Link/Link.st.css';
	-st-named: icon;
}

:import {
	-st-from: '@flexis/ui/components/Badge/Badge.st.css';
	-st-default: Badge;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		sizeScreenSmMax,
		fontFamily,
		fontFamilyMono,
		colorBlack,
		colorBlue4,
		colorBlue9,
		colorBlue10,
		colorGray1,
		colorPink0;
}

.root {
	font-size: 1rem;
}

.img {
	position: relative;
	margin-right: 3em;
	background-size: cover;
	width: 25em;
	height: 25em;
}

.img::before {
	position: absolute;
	border-top: 1em solid value(colorPink0);
	border-right: 1em solid value(colorPink0);
	border-bottom: 1em solid value(colorPink0);
	border-left: 1em solid value(colorPink0);
	width: 100%;
	height: 100%;
	content: '';
}

.profile {
	float: left;
	margin-bottom: 2.6em;
}

.description {
	color: value(colorBlue4);
	font-size: 2.4em;
}

.location {
	color: value(colorGray1);
	font-size: 2em;
}

.mobName {
	display: none;
	color: value(colorBlue9);
	font-family: value(fontFamily);
	font-size: 3.8em;
}

.name {
	color: value(colorBlue9);
	font-family: value(fontFamily);
	font-size: 3.8em;
}

.text {
	font-size: 2.1em;
}

.contacts {
	padding-bottom: 1em;
}

.contactLink {
	color: value(colorBlack);
}

.contactLink:not(:last-child) {
	margin-right: .6em;
}

.contactLink .icon {
	width: 24px;
	height: 24px;
}

.title {
	color: value(colorBlue10);
	font-size: 3em;
}

.talkLocation {
	color: value(colorGray1);
	font-size: 1.5em;
}

.date {
	color: value(colorBlue4);
	font-family: value(fontFamilyMono);
	font-size: 4em;
}

.date span {
	color: value(colorBlue9);
	font-size: rel(24, 40);
	font-weight: 100;
}

.footer {
	display: flex;
	align-items: baseline;
	clear: both;
}

.footer .Badge:not(:last-child) {
	margin-right: rel(16, 14);
}

.footer .group:nth-of-type(1) {
	order: 2;
}

.footer .group:nth-of-type(2) {
	order: 1;
	margin-right: 3.6em;
}

@media (max-width: value(sizeScreenSmMax)) {

	.profile {
		float: none;
	}

	.img {
		width: 290px;
		height: 290px;
	}

	.name {
		display: none;
	}

	.mobName {
		display: block;
	}

	.footer {
		display: block;
	}

	.footer .group:nth-of-type(2) {
		display: flex;
		align-items: center;
		margin: 0;
	}

	.date {
		margin-right: 16px;
	}
}
