
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMin,
		sizeScreenMdMax,
		sizeScreenSmMax,
		fontFamilyMono,
		sizeGapXl,
		sizeGapLg,
		colorWhite,
		colorBlue5,
		colorPink0,
		colorGray4;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root {
	overflow: hidden;
}

.root .center {
	position: relative;
	padding-bottom: value(sizeGapLg);
}

.title {
	-st-states: alt;
	color: value(colorPink0);
}

.group {
	position: relative;
}

.group .img {
	position: absolute;
	top: -50%;
	right: -134px;
	width: 519px;
	height: 283px;
}

.article h4 {
	font-size: rel(52, 24);
}

.topicsImg {
	position: absolute;
	top: 160px;
	right: 0;
	width: 587px;
	height: 465px;
}

.article:nth-of-type(2) {
	position: relative;
}

.article:nth-of-type(2) .img {
	position: absolute;
	top: -159px;
	left: -100%;
	width: 520px;
	height: 460px;
}

.numbers {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	text-align: center;
}

.numbers li {
	flex: 1;
}

.numbers b {
	color: value(colorBlue5);
	font-size: rel(124, 24);
}

.numbers div {
	text-transform: uppercase;
	color: value(colorPink0);
	font-size: rel(42, 24);
}

.numbers b,
.numbers div {
	font-family: value(fontFamilyMono);
}

@media (min-width: value(sizeScreenMdMin)) {

	.title:alt {
		position: relative;
		margin-bottom: rel(60, 76);
		background-color: value(colorPink0);
		color: value(colorWhite);
	}

	.title:alt::before,
	.title:alt::after {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		background-color: value(colorPink0);
		width: 100vw;
		content: '';
	}

	.title:alt::before {
		left: 0;
		transform: translateX(-100%);
	}

	.title:alt::after {
		right: 0;
		transform: translateX(100%);
	}

	.article:nth-of-type(1) {
		margin-right: 50%;
		margin-bottom: rel(300, 24);
	}

	.article:nth-of-type(2) {
		margin-bottom: rel(90, 24);
		margin-left: 50%;
	}
}

@media (max-width: value(sizeScreenMdMax)) {

	.root h3 {
		text-align: center;
	}

	.title {
		font-size: 30px;
	}

	.title:not(:alt) {
		text-align: center;
	}

	.numbers {
		font-size: 16px;
	}

	.numbers div {
		font-size: 20px;
	}

	.numbers b {
		font-size: 54px;
	}

	/* stylelint-disable a11y/no-display-none */
	.topicsImg {
		display: none;
	}/* stylelint-enable */

	.group {
		display: flex;
		flex-direction: column-reverse;
	}

	.group .img {
		display: block;
		position: static;
		margin: auto;
		width: 306px;
		height: 153px;
	}

	.group h2 {
		border-bottom: 2px dashed value(colorGray4);
		padding-bottom: 8px;
	}

	.article h4 {
		font-size: 20px;
	}

	.article:nth-of-type(2) .img {
		display: block;
		position: static;
		margin: auto;
		width: 270px;
		height: 270px;
	}
}

@media (max-width: value(sizeScreenSmMax)) {

	.numbers li {
		min-width: 50%;
	}
}
