/* stylelint-disable a11y/font-size-is-readable */
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		fontFamilyMono,
		sizeBorderRadiusSm,
		colorBlue4;
}

:import {
	-st-from: './mods/Badge--outline.st.css';
	-st-named:
		outline,
		outlineAqua,
		outlineDarkBlue,
		outlinePink,
		outlineDarkPink,
		outlinePurple,
		outlineRed,
		outlineGreen,
		outlineLightGreen,
		outlineOrange;
}

:import {
	-st-from: './mods/Badge--fill.st.css';
	-st-named:
		fill,
		fillAqua,
		fillDarkBlue,
		fillPink,
		fillDarkPink,
		fillPurple,
		fillRed,
		fillGreen,
		fillLightGreen,
		fillOrange;
}

.root {
	-st-states:
		/* Variant states */
		fill,
		outline,
		/* Color states */
		blue,
		darkblue,
		aqua,
		pink,
		darkpink,
		red,
		purple,
		green,
		lightgreen,
		orange;
	border: 2px solid transparent;
	border-radius: rel(value(sizeBorderRadiusSm), 14);
	background-color: transparent;
	padding: 0 rel(10, 14);
	color: value(colorBlue4);
	font-family: value(fontFamilyMono);
	font-size: 14px;
	font-weight: 500;
}

.root:outline {
	-st-mixin: outline;
}

.root:fill {
	-st-mixin: fill;
}

.root:outline:blue {
	-st-mixin: outline;
}

.root:outline:aqua {
	-st-mixin: outlineAqua;
}

.root:outline:darkblue {
	-st-mixin: outlineDarkBlue;
}

.root:outline:pink {
	-st-mixin: outlinePink;
}

.root:outline:darkpink {
	-st-mixin: outlineDarkPink;
}

.root:outline:red {
	-st-mixin: outlineRed;
}

.root:outline:purple {
	-st-mixin: outlinePurple;
}

.root:outline:green {
	-st-mixin: outlineGreen;
}

.root:outline:lightgreen {
	-st-mixin: outlineLightGreen;
}

.root:outline:orange {
	-st-mixin: outlineOrange;
}

.root:fill:blue {
	-st-mixin: fill;
}

.root:fill:aqua {
	-st-mixin: fillAqua;
}

.root:fill:darkblue {
	-st-mixin: fillDarkBlue;
}

.root:fill:pink {
	-st-mixin: fillPink;
}

.root:fill:darkpink {
	-st-mixin: fillDarkPink;
}

.root:fill:red {
	-st-mixin: fillRed;
}

.root:fill:purple {
	-st-mixin: fillPurple;
}

.root:fill:green {
	-st-mixin: fillGreen;
}

.root:fill:lightgreen {
	-st-mixin: fillLightGreen;
}

.root:fill:orange {
	-st-mixin: fillOrange;
}
