
:import {
	-st-from: '@flexis/ui/components/Link/Link.st.css';
	-st-named: icon;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		fontFamily,
		sizeScreenSm,
		colorBlack,
		colorBlue6,
		colorGray2;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root .center {
	padding-top: rel(43, 24);
	padding-bottom: rel(58, 24);
}

.footer {
	display: flex;
	flex-wrap: wrap;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list:not(:last-child) {
	margin-right: rel(80, 24);
}

.title {
	color: value(colorBlack);
	font-family: value(fontFamily);
	font-size: 1em;
}

.item:not(:last-child) {
	padding-bottom: rel(14, 24);
}

.separator {
	height: rel(37, 24);
}

.link {
	text-decoration: none;
	color: value(colorBlue6);
	font-size: 1em;
}

.siteLink {
	font-size: 1em;
}

.contactLink {
	color: value(colorGray2);
}

.contactLink:not(:last-child) {
	margin-right: rel(20, 24);
}

.contactLink .icon {
	width: rel(40, 24);
	height: rel(40, 24);
}

@media (max-width: value(sizeScreenSm)) {

	.list:not(:last-child) {
		margin-bottom: rel(37, 16);
	}
}
