
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		durationTransition,
		sizeBorderRadiusSm,
		colorWhite,
		colorRed,
		colorBlue1,
		colorBlue2,
		colorBlue3,
		colorBlue5,
		colorGray2;
}

:import {
	-st-from: '../mixins.st.css';
	-st-named: outline;
}

.root {
	will-change:
		border-color,
		box-shadow;
	transition:
		border-color value(durationTransition),
		box-shadow value(durationTransition);
	outline: none;
	border: 1px solid value(colorBlue5);
	border-radius: value(sizeBorderRadiusSm);
	background-color: value(colorBlue1);
	padding: rel(6, 24) rel(17, 24);
	color: value(colorGray2);
	font-size: 2.4rem;
}

@media (prefers-reduced-motion: reduce) {

	.root {
		will-change: none;
		transition: none;
	}
}

.root::placeholder {
	color: value(colorBlue2);
}

.root:disabled {
	border-color: value(colorBlue3);
	background-color: value(colorWhite);
	color: value(colorBlue3);
}

.root:focus {
	-st-mixin: outline;
}

/* .root:focus:invalid {
	border: 1px solid value(colorRed);
	color: value(colorRed);
} */
