
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeGap,
		sizeGapXl,
		colorWhite,
		colorPink0;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

@keyframes fade {

	0% {
		opacity: 1;
	}

	33.333% {
		opacity: 0;
	}

	66.666% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade2 {

	0% {
		opacity: 0;
	}

	33.333% {
		opacity: 1;
	}

	66.666% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fade3 {

	0% {
		opacity: 0;
	}

	33.333% {
		opacity: 0;
	}

	66.666% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.root .center {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	overflow: hidden;
}

.photo {
	flex: auto;
	margin: 0;
}

.photo img {
	min-width: 100%;
	min-height: 100%;
}

.info {
	background-color: value(colorPink0);
	padding: value(sizeGap) rel(50, 24) value(sizeGap) value(sizeGapXl);
	width: rel(490, 24);
}

.title {
	text-transform: uppercase;
	color: value(colorWhite);
	font-size: rel(42, 24);
}

.text {
	color: value(colorWhite);
}

.footer {
	margin-top: value(sizeGap);
	text-align: right;
}

@media (max-width: 880px) {

	.info {
		width: 100%;
	}

	.photo {
		position: absolute;
		top: 100%;
		opacity: 0;
		width: 100%;
		height: rel(320, 16);
		overflow: hidden;
	}

	/* stylelint-disable a11y/media-prefers-reduced-motion */
	.photo:nth-of-type(4) {
		animation: fade 8s infinite;
	}/* stylelint-enable */

	/* stylelint-disable a11y/media-prefers-reduced-motion */
	.photo:nth-of-type(5) {
		animation: fade2 8s infinite;
	}/* stylelint-enable */

	/* stylelint-disable a11y/media-prefers-reduced-motion */
	.photo:nth-of-type(7) {
		animation: fade3 8s infinite;
	}/* stylelint-enable */

	@media (prefers-reduced-motion: reduce) {

		.photo:nth-of-type(4),
		.photo:nth-of-type(5),
		.photo:nth-of-type(7) {
			animation: none;
		}
	}

	.photo img {
		object-fit: cover;
	}

	/* stylelint-disable a11y/no-display-none */
	.photo:nth-of-type(1),
	.photo:nth-of-type(2),
	.photo:nth-of-type(3),
	.photo:nth-of-type(6),
	.photo:nth-of-type(8) {
		display: none;
	}/* stylelint-enable */
}
