
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeGap,
		sizeGapXl,
		colorWhite,
		colorPink0;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root .center {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	width: 100%;
}

.root .center > div {
	display: flex;
	flex: 1 1 20%;
	height: rel(350, 24);
}

.root .center .bigImg {
	flex: 1 1 50%;
}

.root .center > div img {
	width: 100%;
}

.info {
	flex-direction: column;
	justify-content: space-around;
	background-color: value(colorPink0);
	padding: value(sizeGap) rel(50, 24) value(sizeGap) value(sizeGapXl);
	width: 36%;
}

.title {
	text-transform: uppercase;
	color: value(colorWhite);
	font-size: rel(42, 24);
}

.text {
	color: value(colorWhite);
}

.footer {
	margin-top: value(sizeGap);
	text-align: right;
}
