
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeGap,
		sizeGapXl,
		colorWhite,
		colorPink0;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

@keyframes fade {

	0% {
		opacity: 0;
	}

	6% {
		opacity: 1;
	}

	24% {
		opacity: 1;
	}

	30% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.root .center {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	overflow: hidden;
}

.root .center figure {
	flex: auto;
	margin: 0;
}

.root .center figure img {
	min-width: 100%;
	min-height: 100%;
}

.info {
	background-color: value(colorPink0);
	padding: value(sizeGap) rel(50, 24) value(sizeGap) value(sizeGapXl);
	width: rel(490, 24);
}

.title {
	text-transform: uppercase;
	color: value(colorWhite);
	font-size: rel(42, 24);
}

.text {
	color: value(colorWhite);
}

.footer {
	margin-top: value(sizeGap);
	text-align: right;
}

@media (max-width: value(sizeScreenMdMax)) {

	.info {
		width: 100%;
	}

	.root .center figure {
		position: absolute;
		top: 100%;
		animation: fade 40s infinite;
		opacity: 0;
		width: 100%;
		height: rel(320, 16);
		overflow: hidden;
	}

	.root .center figure:nth-of-type(2) {
		animation-delay: 5s;
	}

	.root .center figure:nth-of-type(3) {
		animation-delay: 10s;
	}

	.root .center figure:nth-of-type(4) {
		animation-delay: 15s;
	}

	.root .center figure:nth-of-type(5) {
		animation-delay: 20s;
	}

	.root .center figure:nth-of-type(6) {
		animation-delay: 25s;
	}

	.root .center figure:nth-of-type(7) {
		animation-delay: 30s;
	}

	.root .center figure:nth-of-type(8) {
		animation-delay: 35s;
	}

	@media (prefers-reduced-motion: reduce) {

		.root .center figure {
			animation: none;
		}
	}

	.root .center figure img {
		object-fit: cover;
	}
}
