
:import {
	-st-from: '@flexis/ui/components/Modal/Modal.st.css';
	-st-default: Modal;
	-st-named:
		closeButton,
		window;
}

:import {
	-st-from: '@flexis/ui/stylable/colors';
	-st-named: opacity;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		sizeGapLg,
		durationTransition,
		sizeBorderRadius,
		colorWhite,
		colorBlue7;
}

:import {
	-st-from: './crossButton.st.css';
	-st-named: crossButton;
}

.root {
	-st-extends: Modal;
	z-index: 10;
	will-change: background;
	transition: background value(durationTransition);
	background: transparent;
	padding: value(sizeGapLg);
}

@media (prefers-reduced-motion: reduce) {

	.root {
		will-change: none;
		transition: none;
	}
}

.root:active {
	background: opacity(value(colorBlue7), 70%);
}

.root .window {
	transform: translate(0, calc(-110% - 2em));
	will-change: transform;
	transition: transform value(durationTransition);
	box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
	border-radius: value(sizeBorderRadius);
	background: value(colorWhite);
	padding: value(sizeGapLg);
	width: 100%;
	max-width: rel(800, 24);
}

@media (prefers-reduced-motion: reduce) {

	.root .window {
		will-change: none;
		transition: none;
	}
}

.root .window:centered {
	transform: translate(-50%, calc(-110% - 50vh));
}

.root:active .window {
	transform: translate(0, 0);
}

.root:active .window:centered {
	transform: translate(-50%, -50%);
}

.root .closeButton {
	-st-mixin: crossButton;
}

@media (max-width: 600px) {

	.root {
		padding: 0;
	}
}
