
:import {
	-st-from: '@flexis/ui/components/FormGroup/FormGroup.st.css';
	-st-named:
		label,
		description,
		input;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		opacityDisabled,
		durationTransition,
		colorRed,
		colorBlue3,
		colorBlue4;
}

.root {
	margin-bottom: rel(20, 24);
}

.root .label {
	padding-bottom: rel(5, 24);
	color: value(colorBlue4);
}

.root .description {
	will-change: color;
	transition: color value(durationTransition);
	color: value(colorBlue3);
}

@media (prefers-reduced-motion: reduce) {

	.root .description {
		will-change: none;
		transition: none;
	}
}

.root .input:required ~ .label::after {
	color: value(colorRed);
	content: '\00a0*';
}

.root .input:invalid ~ .description {
	color: value(colorRed);
}
