
:import {
	-st-from: '@flexis/ui/components/FormGroup/FormGroup.st.css';
	-st-named:
		label,
		description,
		input;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		colorBlue3,
		colorBlue4;
}

.root {
	margin-bottom: rel(20, 24);
}

.root .label {
	display: flex;
	justify-content: space-between;
	padding-bottom: rel(5, 24);
	color: value(colorBlue4);
}

.root .label span:nth-child(2) {
	color: value(colorBlue3);
}
