
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		sizeScreenSmMax,
		colorGray1;
}

.root {
	display: flex;
	align-items: center;
	margin-top: rel(43, 24);
	border-top: 1px dashed value(colorGray1);
	padding-top: rel(43, 24);
}

.root button {
	margin-right: rel(43, 24);
}

@media (max-width: value(sizeScreenSmMax)) {

	.root {
		flex-direction: column-reverse;
	}

	.root button {
		margin: 28px 0 0;
		width: 100%;
	}
}
