
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '@flexis/ui/components/Link/Link.st.css';
	-st-named: icon;
}

:import {
	-st-from: '../Link/Link.st.css';
	-st-default: Link;
}

.root {
	-st-extends: Link;
}

.root .icon {
	width: rel(40, 24);
	height: rel(40, 24);
}

.root .icon:leftAlign,
.root .icon:rightAlign {
	margin: 0;
}
