
:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorWhite,
		colorRed,
		colorBlue7,
		colorBlue11,
		colorBlue13,
		colorPurple,
		colorPink4,
		colorPink5,
		colorGreen1,
		colorYellow,
		colorOrange;
}

.outline {
	border-color: value(colorBlue7);
}

.outlineAqua {
	border-color: value(colorBlue11);
}

.outlineDarkBlue {
	border-color: value(colorBlue13);
}

.outlinePink {
	border-color: value(colorPink4);
}

.outlineDarkPink {
	border-color: value(colorPink5);
}

.outlineRed {
	border-color: value(colorRed);
}

.outlinePurple {
	border-color: value(colorPurple);
}

.outlineGreen {
	border-color: value(colorGreen1);
}

.outlineYellow {
	border-color: value(colorYellow);
}

.outlineOrange {
	border-color: value(colorOrange);
}
