
:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorWhite,
		colorRed,
		colorBlue10,
		colorBlue11,
		colorPink0,
		colorPink4;
}

:import {
	-st-from: '../Badge.st.css';
	-st-default: Badge;
}

.fill {
	-st-extends: Badge;
	border-color: value(colorBlue10);
	background-color: value(colorBlue10);
	color: value(colorWhite);
}

.fillAqua {
	-st-extends: Button;
	border-color: value(colorBlue11);
	background-color: value(colorBlue11);
	color: value(colorWhite);
}

.fillPink {
	-st-extends: Button;
	border-color: value(colorPink4);
	background-color: value(colorPink4);
	color: value(colorWhite);
}

.fillRed {
	-st-extends: Button;
	border-color: value(colorRed);
	background-color: value(colorRed);
	color: value(colorWhite);
}

.fillPurple {
	-st-extends: Button;
	border-color: value(colorPink0);
	background-color: value(colorPink0);
	color: value(colorWhite);
}
