
:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorWhite,
		colorBlack,
		colorRed,
		colorBlue7,
		colorBlue11,
		colorBlue13,
		colorPurple,
		colorPink4,
		colorGreen1,
		colorGreen2,
		colorYellow,
		colorOrange;
}

.fill {
	border-color: value(colorBlue7);
	background-color: value(colorBlue7);
	color: value(colorWhite);
}

.fillAqua {
	border-color: value(colorBlue11);
	background-color: value(colorBlue11);
	color: value(colorWhite);
}

.fillDarkBlue {
	border-color: value(colorBlue13);
	background-color: value(colorBlue13);
	color: value(colorWhite);
}

.fillPink {
	border-color: value(colorPink4);
	background-color: value(colorPink4);
	color: value(colorWhite);
}

.fillLightGreen {
	border-color: value(colorGreen2);
	background-color: value(colorGreen2);
	color: value(colorBlack);
}

.fillRed {
	border-color: value(colorRed);
	background-color: value(colorRed);
	color: value(colorWhite);
}

.fillPurple {
	border-color: value(colorPurple);
	background-color: value(colorPurple);
	color: value(colorWhite);
}

.fillGreen {
	border-color: value(colorGreen1);
	background-color: value(colorGreen1);
	color: value(colorWhite);
}

.fillYellow {
	border-color: value(colorYellow);
	background-color: value(colorYellow);
	color: value(colorBlack);
}

.fillOrange {
	border-color: value(colorOrange);
	background-color: value(colorOrange);
	color: value(colorWhite);
}
