
:vars {
	/* Colors */
	colorBlack: black;
	colorWhite: white;
	colorBlue1: #f8f9ff;
	colorBlue2: #8c9dcb;
	colorBlue3: #6981b2;
	colorBlue4: #18227f;
	colorBlue5: #3a6bca;
	colorBlue6: #2a4783;
	colorBlue7: #0016d1;
	colorBlue8: #959de0;
	colorBlue9: #000e2b;
	colorPink0: #ff0093;
	colorPink1: #cc007e;
	colorPink2: #782388;
	colorGray0: #888888;
	colorGray1: #555555;
	colorGray2: #1d1d1d;
	colorGray3: #fff8f9;
	colorGray4: #b7b7b7;
	colorRed: #db0000;
}
