
:vars {
	/* Commons */
	fontFamily:
		Roboto,
		sans-serif;
	fontFamilyMono:
		Roboto Mono,
		Roboto,
		monospace;
	durationTransition: .2s;
	opacityDisabled: .6;

	/* Sizes */
	/* Radius */
	sizeBorderRadiusSm: 5px;
	sizeBorderRadius: 1rem;

	/* Screen */
	sizeScreenXs: 320px;
	sizeScreenSmMax: 569px;
	sizeScreenSmMin: 570px;
	sizeScreenSm: 570px;
	sizeScreenMdMax: 1079px;
	sizeScreenMdMin: 1080px;
	sizeScreenMd: 1080px;
	sizeScreenLgMax: 1365px;
	sizeScreenLgMin: 1366px;
	sizeScreenLg: 1366px;

	/* Gap */
	sizeGapSm: 14px;
	sizeGap: 2rem;
	sizeGapLg: 4rem;
	sizeGapXl: 8rem;

	/* Colors */
	colorBlack: black;
	colorWhite: white;
	colorRed: #db0000;
	colorBlue1: #f8f9ff;
	colorBlue2: #8c9dcb;
	colorBlue3: #6981b2;
	colorBlue4: #18227f;
	colorBlue5: #3a6bca;
	colorBlue6: #2a4783;
	colorBlue7: #0016d1;
	colorBlue8: #959de0;
	colorBlue9: #000e2b;
	colorBlue10: #0058ff;
	colorBlue11: #0eb5ff;
	colorBlue12: #d2dbe5;
	colorBlue13: #005fb1;
	colorPink0: #ff0093;
	colorPink1: #cc007e;
	colorPink2: #782388;
	colorPink3: #b9006a;
	colorPink4: #ff00d8;
	colorPink5: #981657;
	colorGray0: #888888;
	colorGray1: #555555;
	colorGray2: #1d1d1d;
	colorGray3: #fff8f9;
	colorGray4: #b7b7b7;
	colorPurple: #6a00c4;
	colorGreen1: #00918c;
	colorYellow: #ffc400;
	colorOrange: #ff5800;
}
