
:import {
	-st-from: '@flexis/ui/components/Button/Button.st.css';
	-st-named: icon;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorWhite,
		colorPink0;
}

.root {
	-st-states: active;
	background: none;
	padding: 0;
	color: value(colorWhite);
	font-size: 1rem;
}

.root:active {
	color: value(colorPink0);
}

.root:focus,
.root:not(:disabled):hover {
	background-color: transparent;
}

.root .icon {
	width: 4em;
	height: 4em;
}
