
:import {
	-st-from: '@flexis/ui/components/Button/Button.st.css';
	-st-named: icon;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		colorBlack,
		colorYellow1;
}

.root {
	-st-states: active;
	background: none;
	padding: 0;
	color: value(colorBlack);
	font-size: 1rem;
}

.root:active {
	color: value(colorYellow1);
}

.root:focus,
.root:not(:disabled):hover {
	background-color: transparent;
	color: value(colorYellow1);
}

.root .icon {
	width: 4em;
	height: 4em;
}
