/* stylelint-disable no-descending-specificity */
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: './components/variables.st.css';
	-st-named:
		fontFamily,
		fontFamilyMono,
		sizeScreenMdMax,
		colorPink0,
		colorBlue4,
		colorBlue5,
		colorBlue6,
		colorGray2;
}

:global(body) {
	font-family: value(fontFamily);
	font-size: 2.4rem;
}

@media (max-width: value(sizeScreenMdMax)) {

	:global(html) {
		font-size: calc(160em / 24 / 16);
	}
}

:global(h1),
:global(h2) {
	margin-bottom: rel(30, 82);
	color: value(colorPink0);
	font-family: value(fontFamilyMono);
	font-size: 8.2rem;
	font-weight: bold;
}

:global(h3) {
	margin-bottom: rel(30, 76);
	color: value(colorBlue4);
	font-family: value(fontFamilyMono);
	font-size: 7.6rem;
	font-weight: 500;
}

:global(h4) {
	color: value(colorBlue6);
	font-family: value(fontFamilyMono);
	font-size: 6.8rem;
	font-weight: 500;
}

:global(h5) {
	color: value(colorBlue5);
	font-family: value(fontFamilyMono);
	font-size: 5.8rem;
	font-weight: normal;
}

:global(h6) {
	color: value(colorBlue5);
	font-family: value(fontFamilyMono);
	font-size: 4.8rem;
	font-weight: normal;
}

/* :global(h7) {
	color: value(colorBlue6);
	font-family: value(fontFamilyMono);
	font-size: 3rem;
	font-weight: normal;
} */

:global(p) {
	color: value(colorGray2);
}

:global(p::before) {
	margin-right: rel(50, 24);
	content: '';
}
