
:import {
	-st-from: '@flexis/ui/components/Button/Button.st.css';
	-st-named: icon;
}

:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		durationTransition,
		sizeBorderRadius,
		colorPink0,
		colorPink3,
		colorWhite,
		colorGray4;
}

:import {
	-st-from: '../mixins.st.css';
	-st-named: outline;
}

:import {
	-st-from: './mods/Button--secondary.st.css';
	-st-named: secondary;
}

:import {
	-st-from: './mods/Button--disabled.st.css';
	-st-named: disabled;
}

.root {
	-st-states: secondary;
	will-change:
		background-color,
		color,
		box-shadow;
	transition:
		background-color value(durationTransition),
		color value(durationTransition),
		box-shadow value(durationTransition);
	outline: none !important;
	border: 3px solid transparent;
	border-radius: value(sizeBorderRadius);
	background-color: value(colorPink0);
	padding: rel(13, 24) rel(28, 24);
	color: value(colorWhite);
	font-size: 2.4rem;
	font-weight: bold;
}

@media (prefers-reduced-motion: reduce) {

	.root {
		will-change: none;
		transition: none;
	}
}

.root:disabled {
	-st-mixin: disabled;
}

.root:focus {
	-st-mixin: outline;
}

.root .icon {
	width: 1em;
	height: 1em;
}

.root .icon:rightAlign {
	margin-left: rel(8, 16);
}

.root .icon:leftAlign {
	margin-right: rel(8, 16);
}

.root:secondary {
	-st-mixin: secondary;
}

.root:focus,
.root:not(:disabled):hover {
	background-color: value(colorWhite);
	color: value(colorPink0);
}

.root:not(:disabled):active {
	background-color: value(colorWhite);
	color: value(colorPink3);
}

.root:secondary:disabled {
	-st-mixin: disabled;
}
