
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		colorBlue10,
		colorBlue11,
		colorBlue13,
		colorPink4,
		colorGray1,
		colorPurple,
		colorGreen1,
		colorGreen2,
		colorOrange,
		colorYellow;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

:import {
	-st-from: '~/components/ToggleNav/ToggleNav.st.css';
	-st-default: ToggleNav;
	-st-named:
		list,
		item,
		active;
}

:import {
	-st-from: '~/components/Badge/Badge.st.css';
	-st-default: Badge;
}

.root .center {
	position: relative;
	padding-top: rel(33, 24);
	padding-bottom: rel(61, 24);
}

/* stylelint-disable a11y/no-display-none */
.root .nav::after,
.root .filter::after {
	display: none;
}/* stylelint-enable */

.title {
	display: flex;
	align-items: baseline;
	margin-bottom: rel(30, 82);
}

.title::after {
	flex: 1;
	margin-left: 15px;
	border: rel(1, 82) dashed value(colorGray1);
	content: '';
}

.nav {
	margin-bottom: rel(32, 24);
}

.group {
	display: flex;
	align-items: baseline;
	margin-bottom: rel(21, 24);
}

.filter .list {
	flex-wrap: wrap;
}

.filter .item {
	margin-bottom: 20px;
	font-size: 0;
}

.filter .item:not(:last-child) {
	margin-right: 10px;
}

.filter .active .Badge {
	position: relative;
}

.filter .active .Badge::after {
	position: absolute;
	bottom: -16px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	width: 9px;
	height: 9px;
	content: '';
}

.filter .active .Badge:darkblue::after {
	background-color: value(colorBlue13);
}

.filter .active .Badge:pink::after {
	background-color: value(colorPink4);
}

.filter .active .Badge:orange::after {
	background-color: value(colorOrange);
}

.filter .active .Badge:purple::after {
	background-color: value(colorPurple);
}

.filter .active .Badge:aqua::after {
	background-color: value(colorBlue11);
}

.filter .active .Badge:yellow::after {
	background-color: value(colorYellow);
}

.filter .active .Badge:blue::after {
	background-color: value(colorBlue10);
}

.filter .active .Badge:green::after {
	background-color: value(colorGreen1);
}

.filter .active .Badge:lightgreen::after {
	background-color: value(colorGreen2);
}

.filterTitle {
	margin-right: 14px;
	color: value(colorGray1);
	font-size: 16px;
}

.separator {
	margin: auto;
	width: 0;
}

@media (max-width: value(sizeScreenMdMax)) {

	.filter .active .Badge::after {
		bottom: -13px;
	}
}
