
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeGapXl,
		colorWhite,
		colorBlue10;
}

:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

.root {
	border-bottom: rel(14, 24) solid value(colorWhite);
	background-color: value(colorBlue10);
}

.root .center {
	position: relative;
	padding-bottom: value(sizeGapXl);
}

.group {
	display: flex;
	align-items: center;
	margin-right: 27%;
	padding-top: rel(19, 24);
}

.text {
	color: value(colorWhite);
	font-size: rel(36, 24);
}

.title {
	margin: 0;
	width: 671px;
	color: value(colorWhite);
	font-size: rel(50, 24);
}

.button {
	border: rel(8, 44) solid value(colorWhite);
	border-radius: rel(20, 44);
	padding: rel(16, 44) rel(40, 44);
	font-size: rel(44, 24);
}

.scholarshipImg {
	position: absolute;
	top: 0;
	right: 0;
	width: rel(321, 24);
	height: rel(371, 24);
}

@media (max-width: value(sizeScreenMdMax)) {

	.group {
		display: block;
		margin: 0;
	}

	.subtitle {
		margin-bottom: 27px;
		font-size: 16px;
	}

	.title {
		margin-bottom: 30px;
		width: 100%;
		font-size: 23px;
	}

	.button {
		font-size: 30px;
	}

	.scholarshipImg {
		top: auto;
		bottom: -20px;
		width: 142px;
		height: 149px;
	}
}
