
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		sizeScreenSmMax,
		fontFamilyMono,
		colorWhite,
		colorPink0,
		colorBlue4,
		colorBlue7;
}

.root {
	display: flex;
	position: relative;
	border: rel(10, 24) solid value(colorPink0);
}

.root::before {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 1;
	transform: translate(-16%, -50%);
	border-top: rel(10, 24) solid value(colorPink0);
	border-right: rel(10, 24) solid value(colorPink0);
	border-bottom: rel(10, 24) solid value(colorPink0);
	border-top-right-radius: rel(130, 24);
	border-bottom-right-radius: rel(130, 24);
	background: value(colorWhite);
	width: rel(65, 24);
	height: rel(130, 24);
	content: '';
}

.content {
	display: flex;
	position: relative;
	flex: 1;
	margin: rel(7, 24);
	overflow: hidden;
}

.content::before {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-60%, -50%);
	border: rel(5, 24) solid value(colorPink0);
	border-radius: 50%;
	background: value(colorWhite);
	width: rel(150, 24);
	height: rel(150, 24);
	content: '';
}

.info {
	flex: 1;
	border: rel(5, 24) solid value(colorPink0);
}

.infoContent {
	display: flex;
	justify-content: start;
	margin-left: rel(74, 24);
	border-left: 2px dashed value(colorPink0);
	padding: rel(21, 24) rel(35, 24) rel(21, 24) 0;
}

.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list:first-child {
	margin-left: rel(35, 24);
}

.list:not(:last-child) {
	margin-right: rel(68, 24);
}

.item {
	margin-bottom: rel(8, 24);
}

.title {
	font-size: rel(21, 24);
}

.text {
	color: value(colorBlue4);
	font-family: value(fontFamilyMono);
	font-weight: bold;
}

.afterparty {
	position: relative;
	margin-left: rel(7, 26);
	border: rel(5, 26) solid value(colorBlue7);
	padding: rel(15, 26);
	text-align: center;
	color: value(colorBlue7);
	font-size: rel(26, 24);
	font-weight: bold;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.afterparty::before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px dashed value(colorBlue7);
	width: 90%;
	height: 95%;
	content: '';
}

.ticket {
	border-left: 2px dashed value(colorPink0);
	padding: rel(7, 24);
}

.single {
	border: rel(5, 26) solid value(colorPink0);
	text-align: center;
	color: value(colorPink0);
	font-size: rel(26, 24);
	font-weight: bold;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

@media (max-width: value(sizeScreenSmMax)) {

	.root {
		flex-direction: column-reverse;
	}

	.root::before {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -67%) rotate(-90deg);
	}

	.content {
		flex-direction: column-reverse;
	}

	.content::before {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -40%) rotate(-90deg);
	}

	.infoContent {
		display: block;
		margin: 0 0 100px;
		border: none;
		border-bottom: 2px dashed value(colorPink0);
		padding: 30px;
	}

	.infoContent .list {
		margin: 0;
	}

	.ticket {
		border: none;
		border-bottom: 2px dashed value(colorPink0);
	}

	.afterparty {
		margin: 0 0 5px;
		writing-mode: horizontal-tb;
	}

	.afterparty::before {
		display: none;
	}

	.single {
		writing-mode: horizontal-tb;
	}
}
