
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../variables.st.css';
	-st-named:
		sizeScreenSmMax,
		colorWhite,
		colorPink0;
}

:import {
	-st-from: './TickerPreviewPrimary/TickerPreviewPrimary.st.css';
	-st-default: Primary;
	-st-named: info;
}

:import {
	-st-from: './TicketPreviewAuxiliary/TicketPreviewAuxiliary.st.css';
	-st-default: Auxiliary;
}

.root {
	-st-states: vertical;
	position: relative;
	margin: 0;
	padding: rel(11, 24);
	overflow: hidden;
}

.root::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: rel(11, 24) solid value(colorPink0);
	content: '';
}

.content {
	display: flex;
	position: relative;
}

.content::before {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	transform: translate(-67%, -50%);
	border: rel(11, 24) solid value(colorPink0);
	border-radius: 50%;
	background: value(colorWhite);
	width: rel(150, 24);
	height: rel(150, 24);
	content: '';
}

.root:vertical::before {
	border-width: 6px;
}

.root:vertical .content {
	flex-direction: column-reverse;
}

.root:vertical .info {
	display: block;
	margin: 0 0 81px;
	border: none;
	padding: 18px 0 0;
	text-align: center;
}

.root:vertical .Auxiliary {
	border: none;
	border-bottom: 2px dashed value(colorPink0);
	writing-mode: horizontal-tb;
}

.root:vertical .Auxiliary h3 {
	display: block;
	border-width: 5px;
	width: 100%;
	text-align: center;
}

.root:vertical .Primary::before {
	top: 100%;
	left: 50%;
	transform: translate(-50%, -35%);
	border-width: 5px;
}

.root:vertical .Primary::after {
	border-width: 5px;
}

.root:vertical .content::before {
	top: 100%;
	left: 50%;
	transform: translate(-50%, -35%);
	border-width: 6px;
}

.group:not(:last-child) {
	margin-right: rel(68, 24);
}

.price {
	margin-bottom: 9px;
	font-size: rel(51, 24);
}

.sale {
	margin: 0 22px;
	border: 3px dashed value(colorPink0);
	padding: 10px;
	text-align: center;
	color: value(colorPink0);
	font-weight: bold;
}

.button {
	position: relative;
	z-index: 1;
	margin: 17px auto;
}

.description {
	margin-bottom: 8px;
	border-top: 2px dashed value(colorPink0);
	padding-top: 8px;
	text-align: center;
	color: value(colorPink0);
	font-size: 14px;
}

@media (max-width: value(sizeScreenSmMax)) {

	.root::before {
		border-width: 6px;
	}

	.content {
		flex-direction: column-reverse;
	}

	.content::before {
		top: 100%;
		left: 50%;
		transform: translate(-50%, -35%);
		border-width: 6px;
		width: 140px;
		height: 140px;
	}
}
