
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeScreenSmMax,
		fontFamilyMono,
		colorWhite,
		colorBlack,
		colorOrange,
		colorBlue2,
		colorBlue8,
		colorBlue10,
		colorBlue11,
		colorBlue13,
		colorPink0,
		colorPink4,
		colorGray1,
		colorGray4,
		colorGray5,
		colorGray6,
		colorPurple,
		colorGreen1,
		colorGreen2,
		colorYellow;
}

:import {
	-st-from: '../../Badge/Badge.st.css';
	-st-default: Badge;
}

:import {
	-st-from: '../ScheduleFavoriteButton/ScheduleFavoriteButton.st.css';
	-st-default: FavoriteButton;
}

/* stylelint-disable-next-line */
@st-global-custom-property --colorBorder;

.root {
	-st-states:
		past,
		now,
		next,
		darkblue,
		pink,
		orange,
		purple,
		aqua,
		yellow,
		blue,
		green,
		lightgreen,
		withBadge;
	background-color: value(colorWhite);
	vertical-align: top;
	font-size: 1rem;
}

.time {
	padding: 1.6em 3em;
	text-align: center;
	white-space: nowrap;
}

.description {
	padding: 1.6em 0;
}

.description .Badge:not(:last-child) {
	margin-right: rel(16, 14);
}

.controls {
	padding: 1.6em 3em;
	vertical-align: middle;
	text-align: right;
}

.root:not(:first-child) .description,
.root:not(:first-child) .controls {
	border-top: 1px dashed value(colorBlue8);
}

.root:past,
.root:past .controls {
	background-color: value(colorGray5);
}

.root:now .Badge {
	background-color: value(colorWhite);
}

.root:past .Badge:fill {
	border-color: value(colorBlue8);
	background: transparent;
	color: value(colorBlue8);
}

.root:past .Badge:outline {
	border-color: value(colorBlue8);
	background: value(colorBlue8);
	color: value(colorWhite);
}

.root:now:darkblue .description,
.root:now:darkblue .controls {
	background-color: value(colorBlue13);
}

.root:now:pink .description,
.root:now:pink .controls {
	background-color: value(colorPink4);
}

.root:now:orange .description,
.root:now:orange .controls {
	background-color: value(colorOrange);
}

.root:now:purple .description,
.root:now:purple .controls {
	background-color: value(colorPurple);
}

.root:now:aqua .description,
.root:now:aqua .controls {
	background-color: value(colorBlue11);
}

.root:now:yellow .description,
.root:now:yellow .controls {
	background-color: value(colorYellow);
}

.root:now:blue .description,
.root:now:blue .controls {
	background-color: value(colorBlue10);
}

.root:now:green .description,
.root:now:green .controls {
	background-color: value(colorGreen1);
}

.root:now:lightgreen .description,
.root:now:lightgreen .controls {
	background-color: value(colorGreen2);
}

.root:not(:now) .FavoriteButton {
	--colorBorder: value(colorBlack);
}

.group {
	display: flex;
	align-items: baseline;
	margin-bottom: 13px;
}

.speakersList {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin: 0 0 0 3.2em;
	padding: 0;
	list-style: none;
}

.speaker {
	margin-right: 1.7em;
	padding-right: 1.7em;
}

.speaker:not(:last-child) {
	margin-bottom: 1.2em;
	border-right: 1px dashed value(colorGray4);
}

.startAt {
	margin-bottom: rel(14, 24);
	font-family: value(fontFamilyMono);
	font-size: 2.4em;
	font-weight: bold;
}

.startAt span {
	color: value(colorGray1);
	font-size: 15px;
	font-weight: normal;
}

.location {
	color: value(colorGray1);
	font-size: 15px;
}

.title {
	margin-bottom: 6px;
	text-decoration: none;
	color: value(colorBlack);
	font-family: value(fontFamilyMono);
	font-size: 2.4em;
}

.speakerName {
	color: value(colorBlack);
	font-family: value(fontFamilyMono);
	font-size: 18px;
	font-weight: bold;
}

.speakerDescription {
	color: value(colorGray1);
	font-size: 16px;
}

.lang {
	text-transform: uppercase;
	color: value(colorGray6);
	font-family: value(fontFamilyMono);
	font-size: 16px;
	font-weight: bold;
}

.root:past .startAt,
.root:past .startAt span,
.root:past .lang,
.root:past .location,
.root:past .title,
.root:past .speakerName,
.root:past .speakerDescription {
	color: value(colorBlue8);
}

.root:now:withBadge .lang,
.root:now:withBadge .title,
.root:now:withBadge .location,
.root:now:withBadge .speakerName,
.root:now:withBadge .speakerDescription {
	color: value(colorWhite);
}

.label {
	display: flex;
	position: relative;
	align-items: end;
	justify-content: flex-end;
	padding-bottom: rel(77, 20);
	color: value(colorPink0);
	font-family: value(fontFamilyMono);
	font-size: 2em;
	font-weight: bold;
}

.label::before {
	transform: rotate(-45deg);
	margin-right: 10px;
	border-bottom: .2em solid value(colorPink0);
	border-left: .2em solid value(colorPink0);
	width: rel(34, 20);
	height: rel(18, 20);
	content: '';
}

.delete {
	background-color: transparent;
	padding: 0;
	text-decoration: underline;
	color: value(colorGray1);
	font-size: 2em;
	font-weight: normal;
}

.disabled {
	color: value(colorBlue2);
	font-family: value(fontFamilyMono);
	font-size: 2em;
	font-weight: bold;
}

.modalTitle {
	margin-bottom: rel(30, 24);
	color: value(colorBlue10);
	font-size: rel(28, 24);
}

.modalDescription {
	font-size: rel(21, 24);
}

@media (max-width: value(sizeScreenMdMax)) {

	.title {
		font-size: 3.5em;
	}

	.description .Badge:not(:last-child) {
		margin-right: 10px;
	}

	.label {
		font-size: 15px;
	}

	.delete {
		font-size: 15px;
	}

	.disabled {
		font-size: 15px;
	}
}

@media (max-width: value(sizeScreenSmMax)) {

	.time {
		padding: 10px;
	}

	.description {
		display: block;
		padding: 10px 5px 5px 10px;
	}

	.description .Badge {
		margin-bottom: 10px;
	}

	.group {
		display: block;
	}

	.talkInfo {
		padding: 1em 0 2em;
	}

	.speakersList {
		flex-direction: column;
		margin-left: 0;
	}

	.speaker {
		margin-right: 0;
	}

	.speaker:not(:last-child) {
		border: none;
	}

	.controls {
		display: flex;
		align-items: center;
		padding: 0 0 16px 10px;
		width: 100%;
	}

	.root:not(:first-child) .controls {
		border: none;
	}

	.label {
		padding: 0;
	}

	.label::before {
		margin-right: 5px;
	}

	.delete {
		margin-left: 10px;
	}
}
