
:import {
	-st-from: '@flexis/ui/stylable/rel';
	-st-default: rel;
}

:import {
	-st-from: '../../variables.st.css';
	-st-named:
		fontFamilyMono,
		colorWhite,
		colorBlack,
		colorBlue8,
		colorBlue10,
		colorPink4,
		colorGray0,
		colorGray1,
		colorGray3,
		colorPurple1,
		colorGreen1;
}

:import {
	-st-from: '../../Badge/Badge.st.css';
	-st-default: Badge;
}

.root {
	-st-states:
		past,
		now,
		next,
		mobile,
		frontend,
		backend,
		hype;
	display: flex;
	background-color: value(colorWhite);
	font-size: 1rem;
}

.root main {
	display: flex;
	flex: 1;
	padding: 10px 0;
}

.root:past {
	background-color: value(colorGray3);
}

.primary {
	flex: 1;
	padding-bottom: 10px;
}

.primary .Badge:not(:last-child) {
	margin-right: 16px;
}

.root:next main {
	margin-left: 27px;
}

.root:next .primary {
	border-left: 1px dashed value(colorGray1);
	padding-left: 37px;
}

.root:now .Badge {
	background-color: value(colorWhite);
}

.root:now:frontend main {
	background-color: value(colorPurple1);
}

.root:now:mobile main {
	background-color: value(colorPink4);
}

.root:now:hype main {
	background-color: value(colorGreen1);
}

.root:now:backend main {
	background-color: value(colorBlue10);
}

.time {
	margin-bottom: rel(14, 24);
	font-family: value(fontFamilyMono);
	font-size: 2.4em;
}

.time span {
	color: value(colorGray0);
	font-size: rel(14, 24);
}

.location {
	text-align: right;
	color: value(colorGray1);
	font-size: 1.6em;
}

.title {
	color: value(colorBlack);
	font-family: value(fontFamilyMono);
	font-size: 3em;
}

.description {
	margin: rel(14, 24) 0;
	color: value(colorBlack);
	font-size: 2.4em;
}

.description span {
	font-family: value(fontFamilyMono);
	font-weight: bold;
}

.root:past .time,
.root:past .time span,
.root:past .location,
.root:past .title,
.root:past .description,
.root:past .description span {
	color: value(colorBlue8);
}

.root:now .title,
.root:now .description,
.root:now .description span {
	color: value(colorWhite);
}

.secondary {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 16px 25px;
	width: 150px;
}

.auxiliary {
	display: flex;
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.auxiliary .content {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	height: 100%;
	text-transform: uppercase;
	color: value(colorWhite);
	font-size: 2em;
}

.favorite {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
}
