
:import {
	-st-from: '~/components/Section/Section.st.css';
	-st-named: center;
}

:import {
	-st-from: '~/components/variables.st.css';
	-st-named:
		sizeScreenMdMax,
		sizeScreenLgMin,
		sizeScreenLgMax,
		sizeBorderRadius,
		sizeGap,
		sizeGapSm,
		sizeGapLg,
		sizeGapXl,
		colorPink0,
		colorWhite;
}

.root .center {
	position: relative;
	padding: 0;
	height: 660px;
}

.info {
	display: flex;
	align-items: flex-start;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	border-radius: value(sizeBorderRadius);
	background-color: value(colorWhite);
	padding:
		value(sizeGapLg)
		value(sizeGapLg)
		value(sizeGapLg)
		0;
}

.icon {
	width: 5em;
	height: 7rem;
	color: value(colorPink0);
}

@media (min-width: value(sizeScreenLgMin)) {

	.info {
		position: absolute;
		top: value(sizeGapXl);
		left: value(sizeGapXl);
		width: 500px;
	}
}

@media (max-width: value(sizeScreenLgMax)) {

	.root::after {
		display: block;
		background-color: value(colorPink0);
		height: 110px;
		content: '';
	}

	.root .center {
		height: 500px;
	}

	.info {
		transform: translateY(-65%);
		margin: 0 auto;
		padding:
			value(sizeGap)
			value(sizeGap)
			value(sizeGap)
			0;
		max-width: 500px;
	}
}

@media (max-width: value(sizeScreenMdMax)) {

	.root .center {
		height: 350px;
	}

	.info {
		transform: translateY(-30%);
	}
}

@media (max-width: 520px) {

	.info {
		margin: 0 value(sizeGapSm);
	}
}
