
:import {
	-st-from: '../variables.st.css';
	-st-named:
		sizeScreenLg,
		sizeScreenLgMax,
		sizeScreenMdMax,
		sizeGapXl,
		sizeGapLg,
		sizeGapSm;
}

.center {
	margin: 0 auto;
	padding: 0 value(sizeGapXl);
	width: value(sizeScreenLg);
}

@media (max-width: value(sizeScreenLgMax)) {

	.center {
		padding: 0 value(sizeGapLg);
		width: 100%;
	}
}

@media (max-width: value(sizeScreenMdMax)) {

	.center {
		padding: 0 value(sizeGapSm);
	}
}
